<%- include('./partials/header.ejs') %>

<body>
    <%- include('./partials/nav.ejs') %>

    <h3><i>Send a friend a message. And look at these cute pandas!</i></h3>

    <p id="panda-pic">
        <img src="/images/baby-hug.gif" alt="Cute silly panda" height="60%">
    </p>
</body>