<head>
<link rel="stylesheet" type="text/css" href="css/temp.css">
<script src="js/script_head.js"></script>

<title>Student Messaging System</title>
</head>

<p>
<ul>
  <li><a class="active" href="/home">Home</a></li>
  <li><a href="/register">Register</a></li>
  <li><a href="/login">Login</a></li>
  <li><a href="/about">About</a></li>
</ul>
</p>
<center><h2>Student Messaging System</h2>

<body id="notloggedin">
<h3><i>Send a message to a friend! And look at these pandas!</i></h3>

<p id ="pandapic">
<img src="img/baby-hug.gif" alt="Cute silly panda" height="60%">
</p>

<p>
</body>

  
  
  
  
  
  